/* Reset Andy Bell - https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; /* include padding and border in element's total width and height */
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove default padding on lists */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

ul,ol{
  list-style: none;
}
 a{
  text-decoration: none;
  }
/* Set core body defaults */
body {
  min-height: 100vh; /* take full height */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
