.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.top1{
    grid-area: top1;
    background-image: url(../images/grid/top1.png);
    
}

.top2{
    grid-area: top2;
    background-image: url(../images/grid/top2.jpg);
    
}

.midL{
    grid-area: midL;
    background-image: url(../images/grid/midL.jpg);
    
}

.midR{
    grid-area: midR;
    background-image: url(../images/grid/midR.jpg);
    
} 

.bottomL{
    grid-area: bottomL;
    background-image: url(../images/grid/bottomL.jpg);
    
}

.bottomR{
    grid-area: bottomR;
    background-image: url(../images/grid/bottomR.jpg);
    
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR ";
    gap: 30px;
    
}
.top1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.cta-group{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 1rem;
}

.card-title{
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.card-subtitle{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 20;
}  

@media (max-width: 768px) {
    .category-card{
        width: 100%;
    
    }

    .grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 220px;
    grid-template-areas:
        "top1 top1"
        "top1 top1"
        "top1 top1"
        "bottomL bottomL"
        "midL midR"
        "midL bottomR"
        "top2 top2";
        gap: 0.625rem;
   

}


}