.shoe-categories{
    padding-top: 40px;
    padding-bottom : 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card{
    background-color: black;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.category-name{
    font-size: 1.25rem;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
}

